##########################
# JAVA
##########################
*.class
*.jar
*.war
*.ear
*.nar

#########################
# MAVEN
#########################
target/
.mvn/

#########################
# INTELLIJ
#########################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws


